<!doctype html>
<html lang="en">
<head>
  <title>CS Conference Twitter Bot</title>
  {{{headerHtml}}}
  <script type="module" src="/ui.js"></script>
</head>
<body>

<div class="account clearfix">
  <a href="/?twitterUserId=switch" class="float-right btn btn-sm btn-secondary">Switch</a>
  <img class="float-right" title="{{screenName}}" src="{{{profileImageUrl}}}">
</div>

<form>
  <div class="form-group">
    <label for="urls">URLs to ACM DL Proceeding Pages</label>
    <textarea class="form-control" id="urls" rows="3">
https://dl.acm.org/doi/proceedings/10.1145/3475738
https://dl.acm.org/doi/proceedings/10.1145/3426182
https://dl.acm.org/doi/proceedings/10.1145/3357390
https://dl.acm.org/doi/proceedings/10.1145/3237009
https://dl.acm.org/doi/proceedings/10.1145/3132190
https://dl.acm.org/doi/proceedings/10.1145/2972206
https://dl.acm.org/doi/proceedings/10.1145/2807426
https://dl.acm.org/doi/proceedings/10.1145/2647508
https://dl.acm.org/doi/proceedings/10.1145/2500828
https://dl.acm.org/doi/proceedings/10.1145/2093157
https://dl.acm.org/doi/proceedings/10.1145/1852761
https://dl.acm.org/doi/proceedings/10.1145/1596655
https://dl.acm.org/doi/proceedings/10.1145/1411732
https://dl.acm.org/doi/proceedings/10.1145/1294325
https://dl.acm.org/doi/proceedings/10.1145/1168054
https://dl.acm.org/doi/proceedings/10.5555/1071565
https://dl.acm.org/doi/proceedings/10.5555/957289
https://dl.acm.org/doi/proceedings/10.5555/638476
    </textarea>
  </div>
  <button type="button" id="load-btn" class="btn btn-primary mb-2">Load</button>
</form>

<table id="papers"></table>


<form>
  <textarea class="form-control" id="tweet" rows="6"></textarea>
  <span class="float-right badge badge-secondary" id="tweet-length"></span>
  <button type="button" class="btn btn-outline-info" id="queue-btn">Queue Tweet</button>
</form>


<div class="fixed-bottom" style="background-color: #ccc;">
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#all-templates" aria-expanded="false" aria-controls="all-templates">
    Templates
  </button>

  <div class="collapse" id="all-templates">
    <div class="row">
      <div class="col-md-4">
        <label for="tweet-tpl">Tweet Template</label>
        <textarea class="form-control" id="tweet-tpl" rows="6"></textarea>
        <span class="float-right badge badge-secondary" id="tweet-tpl-length"></span>
      </div>
      <div class="col-md-4">
        <label for="picture-tpl">Tweet Picture Template</label>
        <textarea class="form-control" id="picture-tpl" rows="8"></textarea>
      </div>
      <div class="col-md-4">
        <label for="picture-style">Tweet Picture CSS Style</label>
        <textarea class="form-control" id="picture-style" rows="8"></textarea>
      </div>
    </div>
    <button type="button" id="save-config-btn" class="btn btn-primary mb-2">Save &amp; Apply</button>
  </div>
</div>


<h3>Tweet Queue</h3>

<div id="tweet-queue-options">
  <div class="form-group row">
    <label for="nextDate" class="col-sm-5 col-form-label">Next Date</label>
    <div class="col-sm-7">
      <input type="date" class="form-control" id="nextDate">
    </div>
  </div>

  <div class="form-group row">
    <label for="everyNDays" class="col-sm-5 col-form-label">Every #days</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="everyNDays">
    </div>
  </div>

  <div class="form-group row">
    <label for="earliestHour" class="col-sm-5 col-form-label">earliest/latest</label>
    <div class="col-sm-7">
      <input type="time" class="form-control" id="earliestHour">
      <input type="time" class="form-control" id="latestHour">
    </div>
  </div>
</div>

<div id="tweet-queue"></div>

<h3>Sent Tweets</h3>
<div id="tweets-sent"></div>

<div id="render-image"></div>
</body>
</html>
