<!doctype html>
<html lang="en">
<head>
  <title>CS Conference Twitter Bot</title>
  {{{headerHtml}}}
</head>
<script>
  //@ts-check
  function paperDetails(d) {
    if (d.fullAbstract) {
      getFullAbstract(d);
    }

    const paper = `
    <div>
      <div class="p-details" contenteditable="true">
        <div class="p-title">${d.title}</div>
        <div class="p-authors">${d.authors.join(', ')}</div>
        <div class="p-abstract">${d.shortAbstract}</div>
      </div>
      <button type="button" class="btn btn-outline-info btn-sm render-btn">render</button>
    </div>`;
    return $(paper);
  }

  async function getFullAbstract(d) {
    const response = await fetch(`/paper/${d.id}`);
    const paper = await response.json();

    $(`#paper-${d.id} .p-abstract`).html(paper.fullAbstract);
  }

  let paperTable = null;

  function renderToImage() {
    const detailsDiv = $(this).siblings()[0];
    const parent = $(this).parent()[0];
    html2canvas(detailsDiv)
      .then(function (canvas) {
        const dataUrl = canvas.toDataURL();
        const img = new Image();
        img.src = dataUrl;
        img.style.border = "1px solid red";
        parent.appendChild(img);
      })
      .catch(function (error) {
        console.error('oops, something went wrong!', error);
      });
  }

  function togglePaperDetails() {
    const tr = $(this).closest('tr');
    const row = paperTable.row(tr);
    if (!row.data()) {
      return;
    }

    if (row.child.isShown()) {
      row.child.hide();
      tr.removeClass('shown');
    } else {
      const detailsElem = paperDetails(row.data());
      detailsElem.find('.render-btn').click(renderToImage);
      row.child(detailsElem).show();
      tr.addClass('shown');
    }
  }

  function togglePaperSelected() {
    if ($(this).hasClass('selected')) {
      $(this).removeClass('selected');
    } else {
      const tr = $(this).closest('tr');
      const row = paperTable.row(tr);

      if (!row.data()) {
        return;
      }

      paperTable.$('tr.selected').removeClass('selected');
      $(this).addClass('selected');
      renderPaperInTemplate(row.data());
    }
  }

  function renderPaperInTemplate(paper) {
    const template = $('#tweet-tpl').val();
    if (template && template.length > 0) {
      const tweet = Mustache.render(template, paper);
      $('#tweet').val(tweet);
      tweetLength();
    }
  }

  function createTable(data) {
    return $('#papers').DataTable({
      columns: [
        {
          className: 'dt-control',
          orderable: false,
          data: null,
          defaultContent: ''
        },
        {title: "Title",    data: 'title'},
        {title: "Type",     data: 'type',    visible: false},
        {title: "URL",      data: 'url',     visible: false},
        {title: "Authors",  data: 'authors'},
        {title: "M/Y",      data: 'monthYear'},
        {title: "Pages",    data: 'pages',   visible: false},
        {title: "Abstract", data: 'shortAbstract', visible: false},
        {title: "Cites",    data: 'citations'},
        {title: "#Down",    data: 'downloads'}
      ],
      data: data
    });
  }

  async function loadPapers() {
    const urls = $('#urls').text().trim();
    const response = await fetch('/load-urls', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({urls})
    });

    const data = await response.json();

    paperTable?.destroy();
    paperTable = createTable(data.papers);

    // Add event listener for opening and closing details
    $('#papers tbody').on('click', 'td.dt-control', togglePaperDetails);
    $('#papers tbody').on('click', 'tr', togglePaperSelected);
  }

  async function loadConfig() {
    const response = await fetch('/configuration');
    const data = await response.json();

    $('#tweet-tpl').val(data?.template);
  }

  function tweetLength() {
    const maxTweetLength = 280;
    let length = $('#tweet').val().length;
    $('#tweet-length').text(`${length} / ${maxTweetLength}`);

    length = $('#tweet-tpl').val().length;
    $('#tweet-tpl-length').text(`${length} / ${maxTweetLength}`);
  }

  $(async function(){
    $('#load-btn').click(loadPapers);
    $('#tweet').keyup(tweetLength);
    $('#tweet-tpl').keyup(tweetLength);

    await loadConfig();
    tweetLength();
  });
</script>
<body>

<form>
  <div class="form-group">
    <label for="urls">URLs to ACM DL Proceeding Pages</label>
    <textarea class="form-control" id="urls" rows="3">
https://dl.acm.org/doi/proceedings/10.1145/3475738
https://dl.acm.org/doi/proceedings/10.1145/3426182
https://dl.acm.org/doi/proceedings/10.1145/3357390
https://dl.acm.org/doi/proceedings/10.1145/3237009
https://dl.acm.org/doi/proceedings/10.1145/3132190
https://dl.acm.org/doi/proceedings/10.1145/2972206
https://dl.acm.org/doi/proceedings/10.1145/2807426
https://dl.acm.org/doi/proceedings/10.1145/2647508
https://dl.acm.org/doi/proceedings/10.1145/2500828
https://dl.acm.org/doi/proceedings/10.1145/2093157
https://dl.acm.org/doi/proceedings/10.1145/1852761
https://dl.acm.org/doi/proceedings/10.1145/1596655
https://dl.acm.org/doi/proceedings/10.1145/1411732
https://dl.acm.org/doi/proceedings/10.1145/1294325
https://dl.acm.org/doi/proceedings/10.1145/1168054
https://dl.acm.org/doi/proceedings/10.5555/1071565
https://dl.acm.org/doi/proceedings/10.5555/957289
https://dl.acm.org/doi/proceedings/10.5555/638476
    </textarea>
  </div>
  <button type="button" id="load-btn" class="btn btn-primary mb-2">Load</button>
</form>

<table id="papers"></table>


<form>
  <textarea class="form-control" id="tweet" rows="6"></textarea>
  <span class="float-right badge badge-secondary" id="tweet-length"></span>
</form>

<h3>Template</h3>
<form>
  <textarea class="form-control" id="tweet-tpl" rows="6"></textarea>
  <span class="float-right badge badge-secondary" id="tweet-tpl-length"></span>

  <button type="button" id="load-btn" class="btn btn-primary mb-2">Save</button>
</form>
<h2>TODO</h2>
<pre>
[x] 1. Table of papers
[x]   - parse ACM DL overview page
[x]   - save data into JSON file
[x]   - load data into table

[x] 2. Tweet Composer
[x]  - have preview window, with data from table
[x]  - have template window, with template from file, or json storage or so

[ ] 3. Tweet
[ ]  - connect to twitter and send tweet

[ ] 4. Screenshot of Paper
[ ]  - load PDF
[ ]  - PDF to PND or so
[ ]  - select part of paper to use

[ ] 5. Database of Author Twitter Handles
[ ]   - keep author name/email twitter handle mapping
[ ]   - automatically search twitter for possible matches

[ ] x. Postponed
[ ]   - parse ACM DL paper pages
</pre>
</body>
</html>
