<!doctype html>
<html lang="en">
<head>
  <title>CS Conference Twitter Bot</title>
  {{{headerHtml}}}
</head>
<body>

<form>
  <div class="form-group">
    <label for="urls">URLs to ACM DL Proceeding Pages</label>
    <textarea class="form-control" id="urls" rows="3">
https://dl.acm.org/doi/proceedings/10.1145/3475738
https://dl.acm.org/doi/proceedings/10.1145/3426182
https://dl.acm.org/doi/proceedings/10.1145/3357390
https://dl.acm.org/doi/proceedings/10.1145/3237009
https://dl.acm.org/doi/proceedings/10.1145/3132190
https://dl.acm.org/doi/proceedings/10.1145/2972206
https://dl.acm.org/doi/proceedings/10.1145/2807426
https://dl.acm.org/doi/proceedings/10.1145/2647508
https://dl.acm.org/doi/proceedings/10.1145/2500828
https://dl.acm.org/doi/proceedings/10.1145/2093157
https://dl.acm.org/doi/proceedings/10.1145/1852761
https://dl.acm.org/doi/proceedings/10.1145/1596655
https://dl.acm.org/doi/proceedings/10.1145/1411732
https://dl.acm.org/doi/proceedings/10.1145/1294325
https://dl.acm.org/doi/proceedings/10.1145/1168054
https://dl.acm.org/doi/proceedings/10.5555/1071565
https://dl.acm.org/doi/proceedings/10.5555/957289
https://dl.acm.org/doi/proceedings/10.5555/638476
    </textarea>
  </div>
  <button type="button" id="load-btn" class="btn btn-primary mb-2">Load</button>
</form>

<table id="papers"></table>


<form>
  <textarea class="form-control" id="tweet" rows="6"></textarea>
  <span class="float-right badge badge-secondary" id="tweet-length"></span>
  <button type="button" class="btn btn-outline-info" id="queue-btn">Queue Tweet</button>
</form>


<div class="fixed-bottom" style="background-color: #ccc;">
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#all-templates" aria-expanded="false" aria-controls="all-templates">
    Templates
  </button>

  <div class="collapse" id="all-templates">
    <div class="row">
      <div class="col-md-4">
        <label for="tweet-tpl">Tweet Template</label>
        <textarea class="form-control" id="tweet-tpl" rows="6"></textarea>
        <span class="float-right badge badge-secondary" id="tweet-tpl-length"></span>
      </div>
      <div class="col-md-4">
        <label for="picture-tpl">Tweet Picture Template</label>
        <textarea class="form-control" id="picture-tpl" rows="8"></textarea>
      </div>
      <div class="col-md-4">
        <label for="picture-style">Tweet Picture CSS Style</label>
        <textarea class="form-control" id="picture-style" rows="8"></textarea>
      </div>
    </div>
    <button type="button" id="save-config-btn" class="btn btn-primary mb-2">Save &amp; Apply</button>
  </div>
</div>


<h3>Tweet Queue</h3>

<div id="tweet-queue-options">
  <div class="form-group row">
    <label for="nextDate" class="col-sm-5 col-form-label">Next Date</label>
    <div class="col-sm-7">
      <input type="date" class="form-control" id="nextDate">
    </div>
  </div>

  <div class="form-group row">
    <label for="everyNDays" class="col-sm-5 col-form-label">Every #days</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="everyNDays">
    </div>
  </div>

  <div class="form-group row">
    <label for="earliestHour" class="col-sm-5 col-form-label">earliest/latest</label>
    <div class="col-sm-7">
      <input type="time" class="form-control" id="earliestHour">
      <input type="time" class="form-control" id="latestHour">
    </div>
  </div>
</div>

<div id="tweet-queue"></div>

<h3>Sent Tweets</h3>
<div id="tweets-sent"></div>


<h2>TODO</h2>
<pre>
[x] 1. Table of papers
[x]   - parse ACM DL overview page
[x]   - save data into JSON file
[x]   - load data into table

[x] 2. Tweet Composer
[x]  - have preview window, with data from table
[x]  - have template window, with template from file, or json storage or so

[-] 3. Screenshot of Paper or Abstract and Conf Info
[x]  - parse ACM DL paper pages to get full abstract
[-]  - load PDF
[-]  - PDF to PND or so
[-]  - select part of paper to use
[x]  - generate image for use on Twitter from paper data, incl. abstract
[x]  - allow to include some conference ad/notes/deadlines

[x] 4. Store Tweets for later sending
[x]  - save tweet text and rendered abstract image
[x]  - show all saved tweets
[x]  - convert dataUrl to PNG

[x] 5. Tweet
[x]  - connect to twitter and send tweet

[ ] 7. Tweet Schedule/Tweet Queue
[x]   - list of prepared/saved tweets (separate from store of tweets)
[x]      - make orderable/draggable
[x]	  - schedule them every 2nd, 3rd day, or every week
[x]     - have a start date selector, and how many days between tweets
[x]     - select a time range (1pm-3pm UK time)
[x]   - calculate new schedule
[ ]	  - have server send them at the given time


[ ] 6. Database of Author Twitter Handles
[ ]   - keep author name/email twitter handle mapping
[ ]   - automatically search twitter for possible matches

[ ] 7. Authentication for use
[ ]   - password only security, needs to be entered before use


[ ] 8. Store changed title/authors, etc
[ ]   - the abstract bit is editable, so, would be good to store the changed bits

[ ] 9. Multi Twitter-Account Support
[ ]   - select user by Twitter screen name
[ ]   - allow to add a new login/Twitter account

[ ] .. ResearchR support
[ ]   - support for scrapping researchr, to extra talk/paper details

[ ] - set alt text for abstract images (strip html)
</pre>
<div id="render-image"></div>
</body>
</html>
